version: 2.1

orbs:
  codecov: codecov/codecov@1.0.3

jobs:
  coverage:
    machine: true
    steps:
      - checkout
      - run:
          name: Coverage with docker
          command: docker run --security-opt seccomp=unconfined -v "${PWD}:/volume" xd009642/tarpaulin cargo tarpaulin --ignore-tests --out Xml

      - restore_cache:
          keys:
              - cargo-{{ checksum "Cargo.lock" }}
              - cargo-

      - save_cache:
          key: cargo-{{ checksum "Cargo.lock" }}
          paths:
              - "~/.cargo"
              - "./target"

      - codecov/upload:
          file: "./cobertura.xml"

workflows:
    version: 2
    test:
        jobs:
            - coverage
