version: 2
jobs: 
    test:
        docker:
            - image: circleci/rust
        steps:
            - run: 
                  name: Running test
                  command: |
                      cargo test